h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(175, 223, 86, 0.747)
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(248, 176, 69)
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.naturalparch1{
    color:rgb(174, 202, 75)
}

#sierra{
    color:rgb(255, 194, 64)
}

#all {
    width: 900px;
}

.left {
    float: left;
    width: 20%;
}

.right {
    width: 80%;
}

.menudown {
    margin-top: 33%;
    list-style-type: none;
    margin-right: 20%;
}
  
li:hover {
    background-color: rgb(255, 194, 64);
}

li {
    background-color: rgba(175, 223, 86, 0.747);
    color:rgb(34, 38, 39);
    padding: 5px 10px;
    text-align: center;
    margin: 2%;
}

a {
    text-decoration: none;
    color: rgb(54, 57, 58);
}

.selected {
    background-color: rgb(255, 153, 64);
}